#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
